<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        <h1 align='center'>WELCOM TO DRF POROJECT </h1><br>
        <h3> CREATED AND DEVEELOPED BY THESAM ON [17:DEC:2020] MORNING UTC +3:30 </h3><br>
        <h5> FOR VISIT API CLICK <a href="http://127.0.0.1:8000/api/"> HERE </a></h5>
    </div>
    {% block content %}{% endblock %}
</body>

</html>
